p {
    color: red;
}

/*h2 {
    color: red;
  }

 h3 {
    
  }

h4 {
    
  }

body {
    
  }

main {
    
  }

article {
    font-family: verdana;
    font-size: 20px;
    color: red;
  }

footer {
    
  }

address {
    
  } */
